@if (isLoading) {
    <div class="loader-container">
        <mat-spinner></mat-spinner>
    </div>
}
@else {
<mat-card>
    <mat-toolbar color="primary" class="toolbar">
        <span>{{ thread?.title}}</span>
        <span class="spacer"></span>
        @if (canCreatePosts()) {
            <a class="action-button" 
            [routerLink]="[`add`]" 
            matIconButton 
            matTooltip="Add post"
            aria-label="Button that redirects to add post page">
                <mat-icon>add_comment</mat-icon>
            </a>
        }
    </mat-toolbar>

</mat-card>
    @if (canViewPosts()) {
        <table class="classic-forum-table">
        <thead>
            <tr>
                <th class="author-cell">
                    User
                </th>
                <th>
                    Post / Reply
                </th>
            </tr>
        </thead>

        <tbody>
            @for (post of postContent; track $index) {
            <tr>
                <td class="user-cell">{{ post.createdBy }}</td>
                <td>
                    
                    <div class="post-container">

                        <!-- Actions -->
                        <div class="post-actions">
                            <button mat-raised-button [matMenuTriggerFor]="menu">
                                <mat-icon>menu</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <!-- Info -->
                                 <button mat-button 
                                    class="action-button" 
                                    matTooltip="Info about post"
                                    aria-label="Button that shows more info for the post post">
                                        <mat-icon>info</mat-icon>
                                </button>
                                <!-- Edit -->
                                @if (canEditPosts(post.createdBy)) {
                                    <button mat-button 
                                    class="action-button" 
                                    [routerLink]="[`edit/${post.id}`]" 
                                    matTooltip="Edit post"
                                    aria-label="Button that redirects to edit post page">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                }
                                <!-- Delete -->
                                @if(canDeletePost()){
                                    <button mat-button 
                                    class="action-button" 
                                    matTooltip="Delete post"
                                    aria-label="Button that deletes post after confirmation"
                                    (click)="openDeleteDialog(post.id)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                }
                                
                            </mat-menu>
                        </div>

                        <!-- Content -->
                        <div [innerHTML]="post.html"></div>
                        <!-- Date created -->
                        <div> {{ post.dateCreated }} </div>
            
            
                    </div>
                </td>
            </tr>
            }

        </tbody>

        </table>
        <mat-paginator class="sticky-bottom" 
            [length]="pageablePosts.totalElements" 
            [pageSize]="pageablePosts.pageSize"
            [pageIndex]="pageablePosts.pageNumber" 
            (page)="handlePageEvent($event)">

        </mat-paginator>
    }  @else {
        <mat-card>
            <mat-card-content>
                You do not have permission to view posts. Please contact an administrator.
            </mat-card-content>
        </mat-card>
    }
}