@if (isLoading) {
    <div class="loader-container">
        <mat-spinner></mat-spinner>
    </div>
}
@else {
<mat-card>
    <mat-toolbar color="primary" class="toolbar">
        <span>{{ thread?.title}}</span>
        <span class="spacer"></span>
        <a class="action-button" [routerLink]="[`add`]" matIconButton matTooltip="Add post"
            aria-label="Button that redirects to add post page">
            <mat-icon>add_comment</mat-icon>
        </a>
    </mat-toolbar>

</mat-card>

<table class="classic-forum-table">
    <thead>
        <tr>
            <th class="author-cell">
                User
            </th>
            <th>
                Post / Reply
            </th>
        </tr>
    </thead>

    <tbody>
        @for (post of postContent; track $index) {
        <tr>
            <td class="user-cell">{{ post.createdBy }}</td>
            <td>
                <!-- Actions -->
                <div class="post-container">
                    <div class="post-actions">
                        <button mat-raised-button [matMenuTriggerFor]="menu">
                            <mat-icon>menu</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-button class="action-button" 
                            [routerLink]="[`edit/${post.id}`]" 
                            matTooltip="Add post"
                            aria-label="Button that redirects to edit post page">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </mat-menu>
                    </div>
                    <!-- Content -->
                    <div [innerHTML]="post.html"></div>
                    <!-- Date created -->
                    <div> {{ post.dateCreated }} </div>
        
        
                </div>
            </td>
        </tr>
        }

    </tbody>

</table>
<mat-paginator class="sticky-bottom" 
    [length]="pageablePosts.totalElements" 
    [pageSize]="pageablePosts.pageSize"
    [pageIndex]="pageablePosts.pageNumber" 
    (page)="handlePageEvent($event)">

</mat-paginator>
}