<mat-toolbar>
  @if (!authenticated()) {
    <span><a [routerLink] ="['/register']" mat-raised-button>Create account</a></span>
  }
  <span><a [routerLink] ="['/threads']" mat-raised-button>Forum</a></span> 
  <span><a routerLink ="#" mat-raised-button>Information</a></span>
  @if (!authenticated()) {
    <span><a [routerLink] ="['/login']" mat-raised-button>Log in</a></span>
  }
  @else{
    <span><a [routerLink]="['/permissions']" mat-raised-button>Permissions</a></span>
    <span>{{ getUsername() }}</span>
    <span><a (click)="logOut()" mat-raised-button>Log out</a></span>
  }

</mat-toolbar>