.permission-card{
    margin: 1rem;
    padding: 1rem;
}

.spacer {
    flex: 1 1 auto
}

.clickable-row {
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.clickable-row:hover {
  background-color: #e0e3e2;
  color: #121212;
}