body{
  margin: 0;
}

html{
  height: 100%;
}

:root {
  --page-background-color: #121212;
  --page-primary-color: #bb86fc;
  --page-secondary-color: #03dac6;
  --page-accent-color: #ffab40;
  --page-border-color: #cc8a33;
  --page-font-color: #e0e0e0;

  --container-boder-radius: 3px;
}

.border-container{
  border: 3px solid var(--page-border-color);
  border-radius: var(--container-boder-radius);
}

.padding-bottom-10{
  padding-bottom: 10px;
}

.loader-container{
  margin: 12px;
  min-height: 50px;
  display: flex;
  justify-content: center;
}

.action-button{
  height: 32px !important;
  width: 32px !important;
  color: #3bda50 !important;
  transition: color 0.2s ease !important;
}

.action-button:hover{
  color: #707472 !important;
}